* {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: white;
}

/*HELPER*/
.headline_properties {
    background-color: rgba(39, 67, 63, 0.4);
    border-radius: 10%;
}

/* Header */
.text_overwrite {
    color: #000;
    font-size: 1.275rem;
    text-align: center;
    margin-top: 1rem;
    display: none;
}

.btn_position_english {
    display: inline;
}

.btn_position_german {
    display: inline;
}

#about_me {
    float: right;
    margin-top:0.5rem;
    font-size: 1rem;
}

#about_me:hover {
    cursor: pointer;
}

.german {
    display:none;
}

.english {
    display:block;
}

/*Section*/


.image_properties {
    width: 100%;
}


#image {
    transition: 0.5s;
    display: block;
}

.image:hover {
    box-shadow: 10px 10px 15px silver;
}

.btn-info {
    margin: 3rem 6rem 0;
    display: inline-block;
}

.css,
.html,
.javascript,
.jquery{
    border: 1px solid transparent;
    border-radius: 4px;
    padding:0.2rem 0.4rem;
    color:#fff;
}

.css {
    background-color: #dc3545;
}

.html {
    background-color: #28a745;
}

.javascript {
    background-color: #007bff;
}
 .jquery {
     background-color: #6c757d;
 }


/*footer*/
.footer_border  {
    border-top: 2px solid rgba(24, 32, 39, 0.3);
}

.social-media {
    width: 10%;
    padding-right: 0.8rem;

}

@media (min-width: 460px) {
    .btn-info {
        margin: 3rem 11rem 0;
        display: inline-block;
    }

}


@media (min-width: 768px) {

    .text_overwrite{
        text-align: center;
        display: block;
    }
    .overwrite_image {
        position: absolute;
        top: 62%;
        left: 20%;
        font-size:1.4rem ;
        color: #fff;
    }

    .center {
        text-align: center;
    }

    .btn-info {
        display: inline-block;
    }

    #image {
        display:block;
    }

    .btn_position_english {
        position: absolute;
        left: 5%;
        top: 10%;
    }

    .btn_position_german {
        position: absolute;
        left: 5%;
        top: 22%;
    }

    #about_me {
        display: none;
    }
}

@media (min-width: 1200px) {
    .text_overwrite {
        color: #ffffff;
        font-size: 2.5rem;
    }

    .btn_position_english {
        left: 75%;
        top: 10%;
    }

    .btn_position_german {
        left: 82%;
        top: 10%;
    }

    .center {
        text-align:left;
    }
}


